/* Custom Fonts */
@font-face {
  font-family: powerGrotesk;
  src: url(./assets/POWERGROTESK-REGULAR.TTF);
}

@font-face {
  font-family: powerGrotesk;
  src: url(./assets/POWERGROTESK-REGULAR.TTF);
}


#root {
  max-width: 100%;
  margin: 0;
  font-family: Power Grotesque, sans-serif;
  color: black;
  background-color: white;
}

.App {
  background-image: url('./assets/paper-texture.jpg');
}

.section-title{
  text-align: center;
  font-family: powerGrotesk;
  font-size: 70px;
  padding: 20px;
  background-color: #4ca590;
  border-color: black;
}

.section-subtitle{
 text-align: center;
 font-family: powerGrotesk;
 font-size: 25px;
 margin-top: 0;
}